.todos{
	margin: 0px 56px 0px 56px;
}

.noTodosContainer{
  display: flex;
  align-items: center;
	justify-content: center;
  margin-top: 300px;
  margin-bottom: 32px;
}

.noCompleteTasks{
  opacity: 0.5;
  margin-top: 32px;
  margin-bottom: 24px;
}

.completeTasks{
  opacity: 0.5;
  margin-top: 32px;
  margin-bottom: 24px;
}

.listTask{
  border: 1px dashed #D7DDE9;
}

.tasks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
