.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}
  
.checkboxInput {
  display: none;
}
  
.checkboxSpan {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #D7DDE9;
  border-radius: 4px;
  background-color: white;
  margin-right: 8px;
  position: relative;
  
  &:hover {
    background-color: #A0DCF6;
    border-color: #0796D3;
  }
}
  
.checkboxInput:checked + .checkboxSpan {
  background-color: #A0DCF6;
	border-color: #0796D3;
}
  
.checkboxInput:checked + .checkboxSpan::after {
  content: '';
  position: absolute;
	top: 0.6px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #0796D3;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}